
<ul class="sidebar navbar-nav">

    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Categories")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Categories</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Products")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Products</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Companies")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Companies</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Abouts")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>About</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="@Url.Action("Index","Sliders")">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Sliders</span>
        </a>
    </li>

</ul>

